<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandulapeter.beagle.core">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <activity
            android:name=".view.gallery.GalleryActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.bugReport.BugReportActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".util.ScreenCaptureService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <provider
            android:name=".BeagleFileProvider"
            android:authorities="${applicationId}.beagle.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/beagle_file_paths" />

        </provider>

    </application>

</manifest>