<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandulapeter.beagle.logCrash">

    <application>

        <activity
            android:name="com.pandulapeter.beagle.core.view.bugReport.BugReportActivity"
            android:process=":beagleCrashReporter" />

    </application>

</manifest>