<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandulapeter.beagle">

    <application>

        <activity
            android:name="com.pandulapeter.beagle.logCrash.implementation.DebugMenuActivity"
            android:launchMode="singleTop" />

    </application>

</manifest>