<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:supportsRtl="true"
        tools:replace="android:supportsRtl">

        <activity
            android:name="com.pandulapeter.beagle.logCrash.implementation.DebugMenuActivity"
            android:exported="false"
            android:launchMode="singleTop" />

    </application>

</manifest>